<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="cordova.js"></script>
    <script src="external/vue.min.js"></script>
    <script src="external/anime.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

<body onload="onLoad()">
    <div id="app">
        <div id="topbar">
            <div>{{player.money}} $</div>
            <div v-on:click="menu=true;" style="background-image:url('img/buttons/hamburger.svg');width:32px;height:32px;"></div>
        </div>
        <div id="menu" v-if="menu" style="display:flex;flex-direction:column;justify-content: space-around;position:fixed;left:0;top:0;width:100vw;z-index:100;height:100vh;background-color: cadetblue;">
            <div style="font-size:3vh;text-align:center;">
                <img src="img/buttons/stick.png" style="width:30vh;height:30vh;">
                <div>Sticker Clicker</div>
            </div>
            <button style="padding:5px;" v-on:click="menu=false;" class="button-w">Zurück</button>
            <button style="padding:5px;" class="button-w" onclick="save();document.querySelector('.state').innerText='Gespeichert!'">Speichern</button>
            <button style="padding:5px;" class="button-w" onclick="load();">Laden</button>
            <div class="state" style="font-size:3vh;text-align:center;height:22px;"></div>
            <!-- <button style="padding:5px;" class="button-w">Info</button> -->
        </div>
        <div id="info" v-if="player.temporaryInventoryActive==true && inventoryOpen==false" style="width:80%;margin-left:10%;background-color:rgb(238, 213, 102);">
            Gefunden:
            <findings>
                <item style="display:block;margin-left:5%;" v-for="item in player.temporaryInventory" v-if="item.amount>=1">
                    {{item.amount}}x {{item.parentitem.name}} ( +{{item.amountonce}} )
                </item>
            </findings>
        </div>

        <button id="discover-button" v-on:click="searchForItems()" style='position:absolute; top:40vh;left:40vw;width:20vw;height:12vh;background-color:#91B595;font-size:3vmin;'>Erkunden!</button>

        <div id="inventory-button" v-if="inventoryOpen==false" v-on:click="inventoryOpen=true;clearTemporaryInventory();">

        </div>
        <div id="inventory-keeper" v-if="inventoryOpen==true" style="z-index:3;position:relative;top:3px;background-color:rgb(196, 196, 235);">
            <div v-on:click="inventoryOpen=false;" style="width:100%;height:33px;font-size: 18pt;background-color:rgb(255, 255, 255);text-align:center;">
                Einklappen >
            </div>
            <div>
                Verkaufen [Klicken um zu Verkaufen]
            </div>
            <div id="inventory" v-for="item in contents" v-if="player.itemaccesslevel>=item.parentitem.id && item.amount>0">
                <div style="vertical-align: middle;width:100%;min-height:5vh;">
                    <div v-on:click="sell(item);" style='margin:2px;font-size:140%;width:100%;display:inline-block;box-shadow:0px 0px 0px;'
                        class=horiz>
                        <div>
                            {{ Math.floor(item.amount) }}x {{ item.parentitem.name }} ({{ Math.floor(item.amount)*2 }}
                            $)
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div style="position:fixed;bottom:0px;width:100vw;">
            <div id="upgrades-button" class="button" style="background-color:rgb(145, 181, 149);font-size: 18pt;border-radius:0px;padding:3vmin;text-align:center;"
                onclick='document.querySelector("#upgrades").style.display="block";document.querySelector("#upgrades-button").style.display="none"'>
                Upgrades
            </div>
            <div id="upgrades" class="shadow" style="display:none;width:100vw;border:0px;">
                <div style="width:100%;height:33px;font-size: 18pt;background-color:rgb(255, 255, 255);text-align:center;"
                    onclick='document.querySelector("#upgrades").style.display="none";document.querySelector("#upgrades-button").style.display="block"'>
                    <b>Schließen</b>
                </div>
                <div class=verts v-for="item in contents" v-if="player.itemaccesslevel>=item.parentitem.id">
                    <div class=horiz style="text-align:center;margin:1vmin;width:90%;">
                        <div style="width:35%;">
                            <span style='font-size:150%;margin:3vw;'>{{ item.posgain }} {{ item.parentitem.name }}</span><br>pro
                            Erkundung
                        </div>
                        <button style="width:15%;" v-on:click="upgrade(item);">
                            <div class="bigbuttonfont">
                                +1!
                            </div>({{PriceCalc(item.posgainLevel, item.posgainBasePrice)}} $)
                        </button>
                        <div style="width:35%;">
                            <span style='font-size:150%;margin:3vw;'>{{ item.activgain }} {{ item.parentitem.name }}</span><br>pro
                            Sekunde
                        </div>
                        <button style="width:15%;" v-on:click="upgradeActiv(item);">
                            <div class="bigbuttonfont">
                                +1!
                            </div>({{PriceCalc(item.activgainLevel, item.activgainBasePrice)}} $)
                        </button>
                    </div>
                </div>
                <div id="upgradeitemaccesslevel-button" style="width:100%;height:33px;font-size: 18pt;background-color:rgb(131, 120, 228);text-align:center;"
                    v-on:click="upgradeAccessLevel(player);"> Nächstes Level {{player.itemaccesslevel*56000}} $</div>
            </div>
        </div>
    </div>
    <script src="lib/pestoIo.js"></script>
    <script src="lib/pestoStorage.js"></script>
    <script src="game.js"></script>
</body>

</html>