* {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    user-select: none;
    font-size: 80%;
}

html {
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

particle {
    position: relative;
    top: 0px;
    left: 0px;
}

.shadow {
    border: 3px solid #707070;
    box-shadow: 0px 0px 12px black;
}

.horiz {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.horiz {
    flex: 1;
}

.verts {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.verts {
    flex: 1;
}

#app {
    outline: 3px rgb(143, 143, 6) solid;
    background-image: url("./wald.jpg");
    background-position: 50% 0%;
    height: 100vh;
    width: 100vw;
    overflow: none;
    display: flex;
    flex-direction: column;
}

#topbar {
    width: 100%;
    height: 44px;
    z-index: 2;
    background: linear-gradient(0deg, rgb(199, 199, 199), rgb(243, 243, 243) 10%, rgb(240, 240, 240) 30%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#topbar>* {
    margin: 22px;
}

#inventory-button {
    position: fixed;
    right: -0.3cm;
    top: 46px;
    width: 1.6cm;
    height: 1.3cm;
    border-radius: 0.3cm;
    background-color: white;
    background-image: url('./img/buttons/inventory.png');
    border: 3px solid #cfcfcf;
}

#inventory-keeper {
    position: fixed;
    right: 0px;
    top: 44px;
}

#inventory {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#discover {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: -100;
    /*SELFs*/
    flex: 1;
    pointer-events: none
}

#upgrades {
    background-color: #7CC26B;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*SELFs*/
    margin-top: auto;
}

button {
    background-color: white;
    border: 3px solid #cfcfcf;
    box-shadow: 0px 0px 12px black;
    min-width: 2cm;
    border-radius: 0.3cm;
}

.button {
    border-radius: 0.3cm;
    border: 3px solid #cfcfcf;
    background-color: rgb(170, 170, 179);
}

.button-w {
    font-size: 8vh;
    background-color: rgb(96, 96, 105);
    color: white;
    margin: 4vw;
}

.bigbuttonfont {
    font-size: 0.6cm;
    top: 0.2cm;
    line-height: 0.9cm;
}